CREATE DATABASE SQLPRUEBA
GO
USE SQLPRUEBA
GO
CREATE SCHEMA PERSONAL
CREATE TABLE PERSONAL.EMPLEADO(
ID_PERSONAL INT IDENTITY NOT NULL PRIMARY KEY,
NOM_PERSONAL VARCHAR(50),
APELL_PERSONAL VARCHAR(50) NOT NULL

)